[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = your name
	email = your email address
[core]
	autocrlf = input
	editor = code --wait
[color]
	ui = auto
[color "diff"]
	old = red strike
	new = green italic
[alias]
	graph = log --graph --all
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff $LOCAL $REMOTE"
[init]
	defaultBranch = main
